
.form {
  max-width: 500px;
  margin: 0 auto;
}

.form-row {
  display: flex;
  // flex-wrap: wrap;
}

.form-field {
  flex: 1;
  margin-right: 10px;
}

.actionBtns {
  margin-top: 20px;
  margin-right: 8px;
}

.submitted-details {
  margin-top: 20px;
  border: 1px solid #ccc;
  padding: 10px;
  background-color: #f5f5f5;
}


.add-button {
  font-size: 24px;
  margin-top: 6px;
}

